body {
    background-color: #E6ECFE;
    font: 700 16px/1 'TT Norms', Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 30px;
    display: flex;
}

/*
    styles.css contains:
        - aside styles
        - main styles
            - widget
            - chat
        - common styles
*/

/* aside styles */

.sidebar {
    width: 295px;
    background-color: #E6ECFE;
}

.sidebar-holder {
    padding: 60px 0px;
    background-color: #FAFBFF;
    border-radius: 8px;
    height: calc(100vh - 120px - 60px);
    color: #707C97;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 50px;
}

.main-user-photo {
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-name {
    font-size: 1.125em;
    font-weight: 500;
    color: #0D1C2E;
}

.menu {
    padding: 0 40px 0;
    list-style: none;
}

.menu-item {
    margin-bottom: 15%;
}

.menu-item > a {
    color: #707C97;
    transition: all 500ms;
}

.menu-item > a:hover {
    letter-spacing: 0.2em;
}

.icon-margin {
    margin-right: 15px;
}

.sidebar-log {
    padding-left: 40px;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}

.sidebar-log > a {
    color: #707C97;
    transition: all 500ms;
}

.sidebar-log > a:hover {
    letter-spacing: 0.2em;
}

/* widget styles */

.main {
    width: 100%;
    padding-top: 70px;
    display: flex;
}

.widget-container {
    padding: 0 80px 0px 60px;
    width: 400px;
}

.title {
    font-weight: 500;
    font-size: 2.25em;
    color: #0D1C2E;
}

/* chat styles */

.chat-container {
    width: 100%;
    height: calc(100vh - 60px - 70px);
    border-radius: 8px;
    background-color: #FAFBFF;
}

/* common styles */

.upcase {
    text-transform: uppercase;
}

a.active-link {
    color: #2A8BF2;
}