*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font: 700 16px/1 "TT Norms", Arial, Helvetica, sans-serif;
    color: var(--def-font-color);
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 600px;
    height: 100vh;
    padding: 30px;
    display: flex;
}

/*
    styles.css contains:
        - aside styles
        - main styles
            - widget
            - chat
        - common styles
*/

/* aside styles */

.sidebar {
    min-width: 295px;
    background-color: var(--main-bg-color);
}

.sidebar-holder {
    padding: 60px 0px;
    background-color: var(--section-bg-color);
    border-radius: 8px;
    height: /* calc(100% - 120px - 60px) */ 100%;
    color: var(--menu-font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 50px;
}

.main-user-photo {
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-name {
    font-size: 1.125em;
    font-weight: 500;
    color: var(--def-font-color);
}

.menu {
    padding: 0 40px 0;
    list-style: none;
}

.menu-item {
    margin-bottom: 15%;
}

.menu-item > a {
    color: var(--menu-font-color);
    transition: all 500ms;
}

.menu-item > a:hover {
    letter-spacing: 0.2em;
}

.icon-margin {
    margin-right: 15px;
}

.sidebar-log {
    padding-left: 40px;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}

.sidebar-log > a {
    color: var(--menu-font-color);
    transition: all 500ms;
}

.sidebar-log > a:hover {
    letter-spacing: 0.2em;
}

/* widget styles */

.main {
    width: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.widget-container {
    padding: 0 40px;
    min-width: 350px;
}

.title {
    font-weight: 500;
    font-size: 2.25em;
    color: var(--def-font-color);
}

/* chat styles */

.chat-container {
    max-width: 1000px;
    min-width: 500px;
    width: 100%;
    height: /* calc(100% - 60px - 70px) */ 100%;
    border-radius: 8px;
    background-color: var(--section-bg-color);
}

.chat-header,
.group-info,
.add-info {
    display: flex;
}

.chat-header {
    padding: 28px 50px;
    justify-content: space-between;
    background-color: var(--chat-head-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.add-info {
    flex-direction: column;
}

.group-photo {
    border-radius: 50%;
    margin-right: 20px;
}

.group-name {
    font-size: 1.125em;
    line-height: calc(54px - 16px);
}

.connect-status {
    color: var(--add-color);
    line-height: 0;
}

.config-btns {
    width: 102px;
    height: 52px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.recon-alarm {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8em;
    text-align: center;
    color: #ffa500;
    transition: all 300ms;
}

.recon-alarm > i {
    margin-right: 5px;
}

.checkbox-rounded {
    cursor: pointer;
    border-color: var(--add-color);
    width: 21px;
    height: 21px;
}

.checkbox-rounded:hover + .recon-alarm {
    opacity: 1;
}

.get-messages-container {
    padding: 30px 15px;
    width: 100%;
    height: calc(100% - 110px - 60px);
    overflow-y: scroll;
}

.send-messages-container {
    padding: 0 60px;
    position: relative;
    background-color: var(--chat-head-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.input-msg {
    padding: 15px 0;
    overflow-y: auto;
    width: 100%;
    height: 60px;
    resize: none;
    border: 0;
    outline: 0;
    border-top: 2px solid var(--input-border-color);
    background-color: var(--chat-head-color);
}

.send-msg-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-color: var(--add-color);
    color: var(--section-bg-color);
}

/* common styles */

.upcase {
    text-transform: uppercase;
}

a.active-link {
    color: var(--add-color);
}

#time {
    color: var(--add-color)!important;
}

::placeholder {
    color: var(--menu-font-color);
  }

.online {
    color: green;
}

.offline {
    color: red;
}